.edit.btn-outline-info{
  background-color: #e9ecef;
  color: #495057;
}
.delete.btn-outline-danger{
  background-color: #e9ecef;
}
.delete.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.edit.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}